html {
  background-color: #f9f9f9;
  overflow: hidden; }

body {
  overflow-y: scroll;
  min-width: 780px;
  width: 100%;
  font-weight: 400;
  margin: 0 auto;
  color: #555;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif; }

::-moz-selection {
  color: #fff;
  background-color: #108ee9; }

::selection {
  color: #fff;
  background-color: #108ee9; }

input[placeholder], [placeholder], *[placeholder] {
  font-weight: 100; }

.main {
  width: 780px;
  margin: 0 auto; }
  .main:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1; }
  .main.body-padding {
    padding: 24px;
    border-radius: 4px; }

.hide {
  display: none; }

.top-wrap {
  width: 100%;
  height: 258px;
  background: #fff url(../img/bg.jpg) no-repeat center; }

.header {
  width: 100%;
  margin: 80px 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .header:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1; }
  .header .header-logo {
    width: auto;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    padding-right: 30px;
    border-right: 1px solid #e9e9e9;
    float: left;
    overflow: hidden; }
    .header .header-logo .logo-img {
      height: 40px;
      margin-right: 10px;
      display: block;
      float: left; }
    .header .header-logo .logo-title {
      float: left;
      font-size: 16px;
      color: #108ee9; }
  .header .header-search {
    float: right;
    position: relative;
    overflow: hidden;
    width: auto; }
    .header .header-search #search-input {
      border: 0;
      outline: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-indent: 10px;
      font-size: 16px;
      background-color: #f9f9f9;
      transition: all .25s ease-out;
      opacity: 0; }
      .header .header-search #search-input:hover, .header .header-search #search-input:focus {
        background-color: #eee;
        width: 380px;
        opacity: 1; }
    .header .header-search:hover #search-input {
      width: 380px;
      opacity: 1; }
    .header .header-search #search-btn {
      position: absolute;
      margin-left: 30px;
      background-color: #f9f9f9;
      color: #444;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      padding: 0;
      display: block;
      border: 0;
      outline: none;
      transition: background-color .25s ease-out;
      cursor: pointer;
      font-size: 17px; }
      .header .header-search #search-btn:hover {
        background-color: #e3e3e3; }
  .header .header-menu {
    width: auto;
    float: left;
    height: 50px;
    display: block; }
    .header .header-menu .menu-list li {
      float: left;
      line-height: 50px; }
      .header .header-menu .menu-list li a {
        display: block;
        font-size: 17px;
        color: #666;
        padding: 0 15px;
        transition: background-color,color .35s; }
        .header .header-menu .menu-list li a:hover {
          color: #444; }

.article-list-type {
  padding-bottom: 24px; }
  .article-list-type .list {
    height: 43px;
    border-bottom: 2px solid #666; }
    .article-list-type .list:after {
      content: '.';
      display: block;
      visibility: hidden;
      clear: both;
      width: 100%;
      height: 0;
      font-size: 0;
      zoom: 1; }
    .article-list-type .list li {
      padding: 0 10px;
      line-height: 43px;
      height: 43px;
      float: left;
      transition: background-color,color .35s;
      cursor: pointer; }
      .article-list-type .list li:hover, .article-list-type .list li.active {
        border-bottom: 2px solid #108ee9;
        color: #108ee9; }
      .article-list-type .list li span {
        font-size: 15px;
        display: inline-block; }
      .article-list-type .list li i {
        font-size: 17px;
        margin-right: 5px; }

.cards-wrap .cards-list:after {
  content: '.';
  display: block;
  visibility: hidden;
  clear: both;
  width: 100%;
  height: 0;
  font-size: 0;
  zoom: 1; }

.cards-wrap .cards-list .card-item {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-radius: 4px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 10px 5px 0 5px;
  height: 230px; }
  .cards-wrap .cards-list .card-item.card-item-big {
    width: 510px; }
  .cards-wrap .cards-list .card-item.card-item-small {
    width: 250px; }

.article-item-card {
  position: relative;
  width: 100%;
  height: 100%; }
  .article-item-card .img-content-full {
    height: auto; }
  .article-item-card .img-content-half {
    height: 160px;
    overflow: hidden; }
    .article-item-card .img-content-half .article-img-full {
      min-height: 160px; }
  .article-item-card .article-img-full {
    width: 100%;
    height: auto;
    min-height: 248px;
    display: block; }
  .article-item-card .article-text-full {
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
    padding: 10px 15px;
    color: #555;
    font-size: 13px;
    line-height: 23px; }
  .article-item-card .shade-text {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.3); }
  .article-item-card .article-title {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    display: block;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .article-item-card .article-title:hover {
      color: #108ee9; }
  .article-item-card .article-info {
    font-size: 13px;
    color: #fff; }
    .article-item-card .article-info .info-item {
      color: #444;
      margin-right: 15px; }
      .article-item-card .article-info .info-item:hover {
        color: #fff; }
      .article-item-card .article-info .info-item i {
        margin-right: 5px; }
  .article-item-card .block-text {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 12px 15px 15px 15px;
    background-color: #fff; }
    .article-item-card .block-text .article-title,
    .article-item-card .block-text .article-info {
      color: #555; }
      .article-item-card .block-text .article-title:hover,
      .article-item-card .block-text .article-info:hover {
        color: #108ee9; }
      .article-item-card .block-text .article-title .info-item:hover,
      .article-item-card .block-text .article-info .info-item:hover {
        color: #108ee9; }

.timeline-wrap .timeline-list {
  margin-left: 6px; }

.timeline-item {
  position: relative; }
  .timeline-item.timeline-item-fir {
    margin-top: 10px; }
    .timeline-item.timeline-item-fir .timeline-item-title {
      line-height: 40px; }
      .timeline-item.timeline-item-fir .timeline-item-title .time {
        color: #444;
        font-size: 17px; }
        .timeline-item.timeline-item-fir .timeline-item-title .time .anticon {
          margin-right: 10px; }
  .timeline-item .timeline-status {
    position: absolute;
    display: none;
    top: 50%;
    left: -12px;
    margin-top: -11px;
    background-color: #f9f9f9; }
    .timeline-item .timeline-status i {
      padding: 2px;
      font-size: 18px;
      color: #108ee9; }
    .timeline-item .timeline-status.timeline-status-success i {
      color: #00a854; }
    .timeline-item .timeline-status.timeline-status-wait i {
      color: #ffbf00; }
    .timeline-item .timeline-status.timeline-status-fail i {
      color: #f04134; }
  .timeline-item .timeline-item-title p {
    line-height: 30px;
    display: inline-block; }
    .timeline-item .timeline-item-title p:hover .time {
      color: #333; }
    .timeline-item .timeline-item-title p:hover a {
      text-decoration: underline; }
    .timeline-item .timeline-item-title p .time {
      color: #999;
      font-size: 15px;
      margin-right: 15px; }
    .timeline-item .timeline-item-title p a {
      color: #108ee9;
      font-size: 15px; }

.notification {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  line-height: 1.5;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 24px; }
  .notification p {
    color: #444;
    font-size: 15px; }

.footer {
  padding: 80px 0 30px 0; }
  .footer .site-info {
    text-align: center;
    font-size: 13px;
    color: #666; }
